ion-textarea {
  padding: 0.5rem;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 4px;
}

ion-input {
  padding: 0.5rem !important;
  border-bottom: 1px solid rgb(231, 231, 231);
}

.image {
  max-height: 14rem !important;
  width: 100%;
}

.photo {
  padding: 1rem 0;

  ion-icon {
    border: 1px solid rgb(212, 212, 212);
    border-radius: 50%;
    padding: 0.6rem;
    margin: 1rem 1rem;
  }
}
