<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar> </ion-toolbar>
  </ion-header>

  <div class="profile">
    <div class="profile-image">
      <img #image class="photo" [src]="profilePicture" />
    </div>

    <div class="profile-details ion-text-center">
      <ion-text color="tertiary" (click)="takePicture()">
        <ion-label>Change profile picture</ion-label>
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-text>

      <ion-text color="light">
        <h3>{{ username }}</h3>
      </ion-text>
      <ion-text color="light">
        <small>{{ email }}</small>
      </ion-text>
    </div>
  </div>
</ion-content>
