<app-header-scroll details="profileDetails"></app-header-scroll>

<ion-content [fullscreen]="true">
  <app-header-collapse></app-header-collapse>

  <ion-refresher slot="fixed" (ionRefresh)="refreshFeed($event)">
    <ion-refresher-content
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <app-post
    *ngFor="let post of posts"
    [routerLink]="['/tabs/home', post.id]"
    [post]="post"
  ></app-post>
</ion-content>
